.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 28px;
  background-color: #212529;
}

.header__title {
  color: #FFFFFF;
  text-transform: uppercase;

  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 28px;

  max-width: 32%;
  width: 100%;
}

.header__nav {
  max-width: 32%;
  width: 100%;
  text-align: center;
}

.header__nav a {
  color: #FFFFFF;
  text-decoration: none;

  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;

  text-transform: uppercase;

  &:last-child {
    margin-left: 50px;
  }
}

.btn-nav {
  border: 2px solid #212529;
  background-color: #212529;
  padding: 15px 35px;
  border-radius: 25px;
  transition: all .2s linear;

  &:hover {
    border: 2px solid darken(#0D6EFD, 10%);
  }

}

.btn-nav.active {
  border: 2px solid #0D6EFD;
  background-color: #0D6EFD;

  &:hover {
    border: 2px solid darken(#0D6EFD, 10%);
    background-color: darken(#0D6EFD, 10%);
  }
}

.header__search {
  max-width: 32%;
  width: 100%;
  text-align: end;
}
