.messages {
  color: #FFFFFF;
  transition: all .2s linear;
}

.messages__title {
  max-width: 10%;
  background-color: #212529;
  border-top-right-radius: 12px;
  padding: 15px 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  cursor: pointer;
}

.messages__arrow {
  margin-left: 10px;

  transform: rotate(180deg);
  transition: transform .25s linear;

  &.active {
    transform: rotate(360deg);
  }
}

.messages__list {
  background-color: #212529;
  padding: 15px 20px;

  display: none;

  &.active {
    display: block;
  }
}

.list__wrapper {
  overflow: auto;
  max-height: 200px;

  border-left: 1px solid #0D6EFD;
  padding: 10px;

  &::-webkit-scrollbar {
    background-color: #292e33;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #636A71;
  }
}

.messages__clear {
  color: #F94843;
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  transition: all .2s linear;

  &:hover {
    color: darken(#f5736e, 25%);
  }
}
