<div class="add">

  <div class="add__title">
    <h2> Add new Hero </h2>
  </div>

  <div class="add__input">
    <input placeholder="Hero name" autocomplete="off" class="add__name inp" #heroName>
    <textarea placeholder="Description" autocomplete="off" class="add__desc inp" #heroDesc></textarea>
  </div>

  <div class="add__save">
    <button type="button" class="btn btn-add" (click)="add(heroName.value, heroDesc.value)">Add hero</button>
    <button type="button" class="btn btn-back" (click)="back()">Cancel</button>
  </div>

</div>
