.add {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 200px;
}

.add__title h2 {
  font-weight: 600;
  font-size: 40px;
}

.add__input {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;
}

.add__name {
  padding: 15px 30px;
  font-size: 18px;
  width: 50%;
}

.add__desc {
  margin-top: 10px;
  width: 50%;
  padding: 15px 30px;
  font-size: 18px;
  resize: vertical;
}

.add__save {
  margin-top: 50px;

  & button {
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;

    max-width: 10%;
    width: 100%;

    transition: all .2s linear;
  }
}

.btn__add {
  color: #31D02E;
  border: 3px solid #0D6EFD;

  &:hover {
    border-color:#31D02E;
  }
}

.btn__back {
  border: 3px solid #0D6EFD;
  color: #F94843;
  margin-left: 20px;

  &:hover {
    border-color:#F94843;
  }
}
