// colors:
$red: #F94843;
$green: #31D02E;
$dark: #212529;
$blue: #0D6EFD;
$font: #FFFFFF;
$navbg: #2F3337;
$navline: #636A71;
//

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}